<form action="/" method="POST">
  <input type="text" name='username' placeholder="логин" autofocus>
  <input type="text" name='password' placeholder="пароль" autofocus>
  <input class="btn primary" type='submit' value='log in'>
</form>