<h1>Hi</h1>

<p>You typed: <%= @login %> 
<p>Password: <%= @password %> 

<p><%= @message %>

<form action="/" method="POST">

    <input type="text" name="aaa" />
    <input type="password" name="bbb" />
    <input type="submit" />
</form>
