<h1>Admin panel</h1>

<form action="/admin" method="POST">
    Enter login:
    <input type="text" name="login" /> <br />

    Enter password:
    <input type="text" name="password" /> <br />

    <input type="submit" />
</form>